.fieldset {
    border-style: solid;
    border-radius: 2em;
    border-color: #0191DA;
    color: #0191DA;
    width: 100%;
    max-width: 100%;
    border-radius: 2em;
}

legend {
    color:black;
}

#growth {
    overflow-y: scroll;
   }