

    root {
      flex-grow: 1;
      padding-top: 2em;
    }
    paper {
      padding: 2em;
      margin: 'auto';
      max-width: 500;
    }
    image {
      width: 128;
      height: 128;
    }
    img {
      margin: 'auto';
      display: 'block';
      max-width: '100%';
      max-height: '100%';
    }