.root {
    flex-grow: 1;
}

.Papel {
    padding: 2em;
    min-width: 99%;
}

.Foto {
    min-width: 3em;
    max-width: 10em;
    padding-right: 15em;
    float: left;
}

.Panel {
    border: 1px solid #369;
    min-height: 32rem;
    max-height: 32rem;
}

.ImagenExtraer {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
