.root {
    flex-grow: 1;
    align-content: center;
    padding-top: 2em;
}

.paper {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: 'auto';
    min-width: 40%;
}