
    .root {
      flex-grow: 1;
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 2em;
      align-content: center;
      justify-items: center;
    }
    .paper {
      padding: 2em;
      margin: 'auto';
      max-width: 500;
    }
    .image {
      width: 128;
      height: 128;
    }
    .img {
      margin: 'auto';
      display: 'block';
      max-width: '100%';
      max-height: '100%';
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

.grid-header{
    grid-row: 1;
    grid-column: 1/3;
}

.grid-body{
    grid-row: 2;
    grid-column: 1/3;
    display: grid;
    padding-top: 1%;
    grid-template-columns: repeat(2, 1fr);
}

.grid-footer{
    padding-top: 3%;
    grid-row: 3;
    grid-column: 1/3;
}

.row-1{
    grid-row: 1;
}

.row-1 > Box > img{
    border: 5px solid #000;
    border-radius: 5px;
    border: black;
}

.row-2{
    padding-top: 2%;
    grid-column: 1/3;
    grid-row: 2;
}

.row-3{
    grid-row: 3;
    padding-top: 3%;
}

.column-1{
    grid-column: 1/2;
}

.column-2{
    grid-column: 2/3;
    text-align: center;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 100%;
    height: 100%;
}

#fichero{
    display: none;
  }
  
  .circle{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0.5px solid #6573c3;
    color: #3f51b5;
    padding: 1em;
    /*cursor: pointer; #757de8*/
  }